doctype html5
html(lang="ru")
    head
        meta(charset="utf-8")
        meta(http-equiv="Content-Type", content="text/html; charset=utf8")
        title Welcome Megaweb
        link(href="css/app.css", rel="stylesheet")
        script(type="text/javascript", src="js/app.js?")
        script(type="text/javascript").
            require("scripts/app")
body
    div.container