body
	padding-top: 70px
.center
	float: none
	margin-left: auto
	margin-right: auto
.transparent
	opacity: 0.5
.hidden
	display:  none !important
.visible
	display:  block !important
.fill
	width: 100%